*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h2 {
    font-size: 2rem;
}

#content {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    /* justify-content: space-between; */

    background: url('./img/restaurant-background-img.jpg');
    background-size: cover;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 100px;
    width: 100%;
}

.restaurant-name {
    margin: 0 auto;

    color: #FFF;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    /* font-family: "Inria Serif"; */
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.site-links {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    margin: 0 auto;
}

.btn {
    border: none;
    background-color: transparent;
    color: #FFF;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
}

.btn:hover {
    border-bottom: 3px solid #FFF500;
    padding-bottom: 1.5px;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* CSS for Home Tab */
.introduction {
    width: 45.9375rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.h100 {
    height: 100%;
}

.intro-text {
    color: #FFF500;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 4.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.text {
    color: #FFF;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}



/* CSS for Menu Tab */
.test-container {
    width: 100%;
    /* height: 45rem; */
    height: 80vh;
    /* background-color: #d4d4d4; */
    background-color: #ededed;
    overflow: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.25);
}

.menu-text {
    font-size: 4rem;
}

.cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.menu-card {
    width: 18.75rem;
    /* height: 20rem; */
    height: 25rem;
    /* outline: 3px solid red; */
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 8px;
    background-color: white;

    position: relative;
}

.credit-text {
    position: absolute;
    color: white;
    top: 44%;
    left: 5%;
}

.information {
    padding: 1rem;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.food-info {
    flex: 1;
}

.info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

.food-price {
    color: #000;
    text-align: center;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.food-calories {
    color: #6e6e6e;
    text-align: center;
    font-family: Inter;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}

.order-btn {
    width: 8.5625rem;
    height: 2.5625rem;
    border-radius: 0.75rem;
    background: #1e4f00;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: none;
    color: #FFF;
    text-align: center;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

/* CSS for About Tab */

.description-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.description {
    width: 600px;
    font-size: 1.25rem;
    /* line-height: 1.2; */
    line-height: 150%;
}

.footer-text,
a {
    color: white;
}